/*main.css*/

body {
	background-color: pink;
}
h1 {
	color: rgb(206, 158, 222);
	font-family: 'Domine', serif;

}
.nav {
	text-align: center;
}
ol{
	font-weight: bold;
	color:white;
}
a {
	color: white;
	text-decoration: none;
}
#my_nav_bar
{background-color: rgb(206, 158, 222);
 border-style:dashed;
border-color: white;}
p {

}
#irritating {
	float: left;
	margin:20px;
}
.yeaa {
	margin: 35px;
	padding: 25px;
}
#div-float{
	overflow: auto;
	border: solid 5px white;
	background: rgb(206, 158, 222);
}